---
title: Tink API Reference

language_tabs:
  - json: Examples

includes:
  - introduction
  - message-formats
  - versioning
  - periods
  - categories
  - user
  - account
  - transaction
  - statistics
  - activity

search: true
---






